<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to MGM foundation</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="/static/css/asset-1.css">
</head>
<body id="MGM_INDEX BODY">
    <div class="hero standard-hero">
        <div class="simple-hero">
            <div class="section-content--grid hcg">
                <div class="section-content--layout">
                    <div class="hcl-col hcl-col--6 align-middle-col">
                        <div class="col-content">
                            <div class="col-content--title">
                                <h1 class="main-title main-title-1 standard-title">Din dragoste pentru oameni</h1>
                            </div>
                            <div class="col-content--copy">
                                <p class="col-p">Asociația "Misionand Generația de Maine" (MGM) este o Organizație de voluntariat cu activitate in zona Moldovei si a Ucrainei. Suntem uniți cu toții sub acelaşi scop: răspândirea Dragostei Lui Hristos</p>
                            </div>
                            <div class="col-content--cta">
                                <a href="" class="button button-normal button-primary">Donează</a>
                                <a href="" class="button"><i class="fas fa-play"></i><span class="span-w-icon">Redă videoclipul</span></a>
                            </div>

                        </div>
                    </div>
                    <div class="hcl-col hcl-col--6">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="MGM-main">
        <section class="section--about">
            <div class="section-content--grid hcg">
                <div class="section-content--layout">
                    <div class="hcl-col hcl-col--12 align-middle-col">
                        <div class="title-content">
                            <h2 class="section-tag">About us</h2>
                            <h2 class="main-title main-title-2">More people, more impact</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>